
.let_uno{
    margin-top: -6%;
    margin-left: 8%;
    background: -webkit-linear-gradient(rgb(25, 140, 172),rgb(167, 202, 234));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(0, 4, 15);  
}
.l_uno{
    height: 4%;
    width: 5%;
    margin: auto;
}
.l_dos{
    height: 3%;
    width: 3%;
    margin-top: -7%;
    margin-left: 95%;
    
}

.let_dos{
    margin-top: -4%;
    text-align: center;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(rgb(25, 140, 172),rgb(167, 202, 234));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.let_tres{
    margin-top: 6%;
    
}
.let_cuatro{
    text-align: justify;
}
.btn-group-vertical{
margin-left: 6.5%;
}
.l_tres{
text-decoration:underline;
text-align: center;

}
.foo{
    text-align: center;
    justify-content: center;
}
/*Estilos para el footer*/

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
    color: #4b4c4d;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    color: #4b4c4d;
    
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

 /*Estilos nuevos*/
 
  /*Header*/
  #head {
    background: transparent;
    background-size: cover;
    color: #7C7C7C;
    padding: 30px 0 35px 0;
  }
  #head img.img-circle {
    display: block;
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin: 0 auto;
  }
  #head .title {
    font-family: Alice, Georgia, serif;
    font-size: 49px;
    font-size: 3.0625rem;
  }
  .tagline {
    display: block;
    font-size: larger;
    line-height: 1.2em;
    color: black;
    margin: 5px 0 0;
    text-align: justify;
  }

  .section-title,
  .entry-title {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0px 0 25px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: 1px;
  }
  .section-title a,
  .entry-title a {
    color: #333333;
  }
  .section-title span,
  .entry-title span {
    display: inline-block;
    position: relative;
  }
  .section-title span:before,
  .entry-title span:before,
  .section-title span:after,
  .entry-title span:after {
    content: "";
    position: absolute;
    height: 4px;
    top: .53em;
    width: 400%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .section-title span:before,
  .entry-title span:before {
    right: 100%;
    margin-right: 45px;
  }
  .section-title span:after,
  .entry-title span:after {
    left: 100%;
    margin-left: 45px;
  }